target/
.apt_generated
.act.id-global
.classpath
.factorypath
.project
.settings
.springBeans
.pdb
.idea
*.iws
*.iml
*.ipr
*.pdb
dist/
node_modules/
package-lock.json
.DS_Store
*.rdb
act.pid
act.metric.log
.act.class-registry
.act.id-app
.act.plugins
.act.metric
act.log
example/node_modules/
.vscode/
example/dist/
.vscode/
*.log
/profilesnode_global
/customer/profilesnode_global
/platform/profilesnode_global
*.pid
/other/nginx/logs/nginx.pid
/other/node/profilesnode_global/_cacache
